In [1]:
import pandas as pd
import numpy as np
revenues = pd.Series([5555, 7000, 1980])

In [2]:
revenues

0    5555
1    7000
2    1980
dtype: int64

In [6]:
type(revenues.values)

numpy.ndarray

In [8]:
# Creating a series with a labeled index
city_revenues = pd.Series(
    [4200, 8000, 6500],
    index = ["Amsterdam", "Toronto", "Tokyo"]
)

In [9]:
city_revenues

Amsterdam    4200
Toronto      8000
Tokyo        6500
dtype: int64

In [10]:
# Creating a pandas series with label index as Python dict
city_employee_count = pd.Series({"Amsterdam" : 5, "Tokyo" : 8})
city_employee_count

Amsterdam    5
Tokyo        8
dtype: int64

In [11]:
city_employee_count.keys()

Index(['Amsterdam', 'Tokyo'], dtype='object')

In [14]:
"Tokyo" in city_employee_count.keys()

True

In [16]:
city_data = pd.DataFrame({"revenue" : city_revenues,
                         "employee_count" : city_employee_count
                         })
city_data

           revenue  employee_count
Amsterdam     4200             5.0
Tokyo         6500             8.0
Toronto       8000             NaN

In [18]:
city_data.values

array([[4.2e+03, 5.0e+00],
       [6.5e+03, 8.0e+00],
       [8.0e+03,     nan]])

In [19]:
city_data.axes

[Index(['Amsterdam', 'Tokyo', 'Toronto'], dtype='object'),
 Index(['revenue', 'employee_count'], dtype='object')]

In [20]:
#row index
city_data.axes[0]

Index(['Amsterdam', 'Tokyo', 'Toronto'], dtype='object')

In [21]:
#column index
city_data.axes[1]

Index(['revenue', 'employee_count'], dtype='object')

In [22]:
city_data.loc["Amsterdam" : "Toronto", "revenue"]

Amsterdam    4200
Tokyo        6500
Toronto      8000
Name: revenue, dtype: int64

In [ ]:
further_city_data = pd.DataFrame